package day**

import println
import readInput

fun main() {
    fun part1(input: List<String>): Int {
        return input.size
    }

    fun part2(input: List<String>): Int {
        return input.size
    }

    // Read the test input from the `src/day**/Day**_test.txt` file:
    println("\nExample test ------------------------------------------------------------------------------------------")
    val testInput = readInput("day**/Day**_test")
    println("Example test part 1 -----------------------------------------------------------------------------------")
    // *1*
    println("\u001b[32mpart 1 test passed\u001b[0m")
    println("Example test part 2 -----------------------------------------------------------------------------------")
    // *2*
    println("\u001b[32mpart 2 test passed\u001b[0m")

    // Read the input from the `src/day**/Day**.txt` file.
    val input = readInput("day**/Day**")
    println("\nPart 1 ------------------------------------------------------------------------------------------------")
    part1(input).println()
    println("\nPart 2 ------------------------------------------------------------------------------------------------")
    part2(input).println()
}
